* {
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

/*---------------------------------------------------------- 
===========    Header and Banner styles Starts      ===========
----------------------------------------------------------*/
.banner-container {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    justify-content: right;
    text-align: right;
}

.header-content {
    padding: 250px 236px 100px 845px;
}

.main-heading {
    padding: 0;
    font-size: 65px;
    line-height: 76px;
    font-weight: 800;
    color: #FFFFFF;
    ;
    padding-bottom: 24px;
}

/*----------------------------------------------------------
    Primary Paragraph , Button and Heading
----------------------------------------------------------*/
.paragraph-primary {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn-primary {
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    padding: 21px 36px 20px 36px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.heading-primary {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

/*---------------------------------------------------------- 
    Header and Banner styles End
----------------------------------------------------------*/
/*  
 ===============     Main Section Starts      ===============
*/
/*----------------------------------------------------------  
    Sectoin: Previous year failures 
----------------------------------------------------------*/
.previous-year-failures {
    padding: 150px 236px 100px 236px;
    display: flex;
}

.failures-content {
    padding: 258px 130px 130px 130px;
}

.failures-details {
    color: #444343;
    line-height: 26px;
}

.failures-content ul {
    list-style: none;
}

.failures-check {
    color: #16D887;
}

/*----------------------------------------------------------  
    Sectoin: Previous year failures Ends
----------------------------------------------------------*/
/*---------------------------------------------------------- 
    Section: My Plans
----------------------------------------------------------*/
.my-plans {
    display: flex;
    justify-content: space-between;
    padding: 30px 256px;
}

.plan-heading {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding-bottom: 20px;
}

.plans-target-point {
    text-align: center;
}

.paragraph-primary-black {
    color: #444343;
    line-height: 26px;
}

/*---------------------------------------------------------- 
    Section: My Plans Ends
----------------------------------------------------------*/
/*---------------------------------------------------------- 
    Secton: Contact Starts
----------------------------------------------------------*/
.contact-container {
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 59px;
    margin: 18px 220px;
    border: none;
    border-radius: 10px;
}

.change-color {
    color: #FFFFFF;
}

/*---------------------------------------------------------- 
    Secton: Contact Ends
----------------------------------------------------------*/
/*---------------------------------------------------------- 
    Extra features section
----------------------------------------------------------*/
/* Developer Roadmap starts */
.extra-features {
    display: flex;
}

.developer {
    width: 50%;
    /* background-color: #16D887; */
}

.developer-roadmap {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-left: 130px;
}

.roadmap-heading {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #073139;
    padding: 50px 0;
}

.roadmap-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 47px;
    color: #073139;
    padding: 10px 0;
}

/* Frontend */
.frontend {
    background-color: #D8F4FA;
    border: 3px solid #ACE8F4;
    border-radius: 8px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 18px;
}

.hover:hover {
    border: 3px solid #12798E;
    box-shadow: 5px 10px 8px 10px #62e3fc28;

}

.frontend ul {
    list-style: none;
}

.frontend li {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #073139;
}

.frontend p {
    color: #073139;
}

.frontend a:link {
    color: #30b0ca;
    text-decoration: none;
}

/* Backend */
.backend {
    background-color: #D8F4FA;
    border: 3px solid #ACE8F4;
    border-radius: 8px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 10px;
}

.backend ul {
    list-style: none;
}

.backend li {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #073139;
}

.backend p {
    color: #073139;
}

.backend a:link {
    color: #30b0ca;
    text-decoration: none;
}

.extra-icon {
    height: 50px;
    width: 50px;
}

/* Start with us */
.start-with-us {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.start-with-us img {
    height: 50%;
    width: 70%;
}

form {
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.start-with-us input {
    display: inline;
    background-color: #D8F4FA;
}

.start-with-us input::placeholder {
    color: #073139;
}

.start-with-us input:hover {
    border: 1.5px solid #073139;
}

/* Developer Roadmap ends */
/*---------------------------------------------------------- 
    Extra features section Ends
----------------------------------------------------------*/
/*----------------------------------------------------------
    Main Section Ends
----------------------------------------------------------*/
/*----------------------------------------------------------  
    Footer secton Starts
----------------------------------------------------------*/

.footer{
    background-color: #151414;
    margin-top: 130px;
    display: flex;
}
/* Future section */
.future{
    justify-content: left;
    align-items: flex-start;
    padding: 130px 230px;
} 
.icon img{
    padding-right: 17px;
}
/* Subscribe section */
.subscribe{
    justify-content: left;
    align-items: flex-start;
    padding: 130px 230px;
}
.change-font-size{
    font-style: normal;
    font-weight: 550;
    font-size: 25px;
    line-height: 29px;
}
input{
    display: block;
    margin-top: 31px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 21px;
    background-color: #151414;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 18px 37px;
}
input::placeholder{
    color: #FFFFFF;
}
.btn-color{
    background-color: #005FAC;
    color: #FFFFFF;
    font-weight: 400;
}
/*----------------------------------------------------------  
    Footer secton Ends
----------------------------------------------------------*/